@page
@model BasicCrud.Pages.Users.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    <div>
        <form method="get">
            <div>
                <input type="text" asp-for="SearchTerm" class="form-control"/>
                <input type="submit" value="Search" class="btb btn-primary"/>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>

        </thead>
        <tbody>
        <div class="row">
            @foreach (var user in Model.users)
            {
                <div class="col-md-4">
                    <partial model="user" name="_Summary"></partial>
                </div>
            }

        </div>
        </tbody>
    </table>

    <a asp-page="Edit" class="btn btn-primary">Create User</a>
</div>